.mainbox{
    /* margin-top: 60px; */
}

.paraText{
    color:#54A8C7 ;
    font-size: 14px;
    
}
.headingLine{
    line-height: 25px;
}

.container {
    position: relative;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    

}

.bgContainer {
    padding: 6px;
    position: absolute;
    z-index: -1;
    color:#E4F1F6;
}
.bgtext{
    font-size: 120px;
    font-weight: bold;
}
.uperText{
    padding: 65px 0px 25px 80px;
}
.contentText{
    margin-left: 78px;
}